<a href='/api/v1/tags/all'>List</a>
<h2>Tag #<%=model.text %> Update form</h2>
<form action='/api/v1/tags/update/<%=model.id %>' method='POST'>
	<table>
		<tr><td>Text<td><input type='text' name='Tag[text]' value='<%=model.text %>'><br/>
		<tr><td>User<td><input type='text' name='Tag[user]' value='<%=model.user %>'>
		<tr><td>Memory<td><input type='text' name='Tag[memory]' value='<%=model.memory %>'>
		<tr><td>Type<td><input type='text' name='Tag[type]' value='<%=model.type %>'>
		<tr ><td><td><input type='submit' value='SAVE'>
</form>