<a href='/memory/create'>+Create</a>|<a href='/memory/index'>List</a>|<a href='/memory/update/<%= model.id %>'>Update</a>

<h2>View <%=model.text%></h2>
<ul>
	<li>Text:<%=model.text %></li>
	<li>Image:<%=model.image %></li>
	<li>Tags:<%=model.tags %></li>
	<li>User:<%=model.user %></li>
</ul>