<a href='/api/v1/types/create'>+Create</a>|<a href='/api/v1/types/all'>List</a>|<a href='/api/v1/types/update/<%= model.id %>'>Update</a>

<h2>View <%=model.text%></h2>
<ul>
	<li>Text:<%=model.text %></li>
	<li>Created At:<%=model.createdAt %></li>
	<li>Updated At:<%=model.updatedAt %></li>
</ul>